<!DOCTYPE html>
<html class="core" lang="zh-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>移动应用大全 - FT中文网</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="FT中文网">
	<meta name="robots" content="index,follow">
	<meta name="author" content=""> 
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta property="og:locale" content="zh-Hans">
	<meta property="og:site_name" content="FT中文网">


	<link inline rel="stylesheet" type="text/css" href="/styles/index.css"/>
</head>
<body>




<div class="channel-iap" id="channelScroller" style="overflow-y: scroll;">

    <div id="head">
        <div class="header">
            <div class="channeltitle">index html</div>
        </div>
    </div>

</div>

<script inline src="/scripts/main.js"></script>

</body>
</html>